<section class="main-post-column">
  <article class="main-post">
    <header>
      <img src="https://images.unsplash.com/photo-1442115597578-2d0fb2413734?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925"></img>
    </header>
    <div class="post-content">
      <a href="" class="header-link">
        <h1 class="main-post-title">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed.
        </h1>
      </a>
      <p class="main-post-content">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
        ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
        dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et
        accumsan et iusto odio dignissim qui blandit praesent luptatum
        zzril delenit augue duis dolore te feugait nulla facilisi.
      </p>
    </div>
  </article>
  
  <section class="footer-articles">
    <article class="normal-post">
      <header>
        <a href="" class="header-link">
          <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
        </a>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
        ut aliquip.
      </p>
    </article>
    <article class="normal-post">
      <header>
        <a href="" class="header-link">
          <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
        </a>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
        ut aliquip.
      </p>
    </article>
  </section>
</section>
