<section class="featured-posts-slider">
  <h4 class="featured-title"><span>Ajánlott cikkek:</span></h4>
  <article class="column">
    <header>
      <a href="" class="img-link"><img src="https://images.unsplash.com/photo-1444760134166-9b8f7d0fc038?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925"></img></a>
      <a href="" class="tag-link"><span class="category-tag">Epresszo</span></a>
    </header>
    
      <h5><a href="" class="header-link">Valami cím változó hosszúság a teszthez</a></h5>
    
  
  </article>
  <article class="column">
    <header>
      <a href="" class="img-link"><img src="https://images.unsplash.com/photo-1444760134166-9b8f7d0fc038?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925"></img></a>
      <a href="" class="tag-link"><span class="category-tag">Epresszo</span></a>
    </header>
    
      <h5><a href="" class="header-link">Valami cím változó</a></h5>
    
  </article>
  <article class="column">
    <header>
      <a href="" class="img-link"><img src="https://images.unsplash.com/photo-1444760134166-9b8f7d0fc038?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925"></img></a>
      <a href="" class="tag-link"><span class="category-tag">Epresszo</span></a>
    </header>
    
      <h5><a href="" class="header-link">Valami cím változó hosszáság</a></h5>
    
  
  </article>
</section>