<div class="news-wrapper">
  <div class="big-column item">
    <div class="overlay">
      <div class="title">
        <h1>
          <a class="title-link" href="#">5 promising alternative energy sources</a>
        </h1>
        <p>
          <a class="tag-default" href="#">Epresso</a>
          <span class="legend-default">
            <i class="fa fa-clock"></i>
            2016. március 4.
          </span>
        </p>
        <div class="intro">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
          quis nostrud exerci tation ullamcorper suscipit lobortis nisl
          ut.
          <a href="#" class="more-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small-column">
    <div class="secondary item">
      <div class="overlay">
        <div class="title">
          <h2>
            <a class="title-link" href="#">How I walked the entire Great Wall of China</a>
          </h2>
          <p>
            <a class="tag-default" href="#">Kult</a>
            <span class="legend-default">
              <i class="fa fa-clock"></i>
              2016. március 3.
            </span>
          </p>
          <div class="intro">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna.
            <a href="#" class="more-link">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary item">
      <div class="overlay">
        <div class="title">
          <h2>
            <a class="title-link" href="#">How I walked the entire Great Wall of China</a>
          </h2>
          <p>
            <a class="tag-default" href="#">Kult</a>
            <span class="legend-default">
              <i class="fa fa-clock"></i>
              2016. március 3.
            </span>
          </p>
          <div class="intro">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna.
            <a href="#" class="more-link">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
