<div class="tweet-header-section">
  
</div>
<div class="tweet">
  <div class="tweet-author-container">
    <h4 class="tweet-author">Szabó Zsuzsa</h4>
    <span class="tweet-time right">3 perce</span>
  </div>
  <div class="tweet-inner">
    <div class="tweet-img-container">
      <img src="https://images.unsplash.com/photo-1428069940893-209d71f133cf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7fd86278776b45e12f072d7f4652432e"></img>
    </div>
    <div class="tweet-content-container">
      <a href="" class="header-link">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.
        </p>
      </a>
      <img src="https://images.unsplash.com/photo-1455651512878-0ddbb4c4d0a5?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375"></img>
    </div>
  </div>
</div>

<div class="tweet">
  <div class="tweet-author-container">
    <h4 class="tweet-author">Szabó Zsuzsa</h4>
    <span class="tweet-time right">3 perce</span>
  </div>
  <div class="tweet-inner">
    <div class="tweet-img-container">
      <img src="https://images.unsplash.com/photo-1428069940893-209d71f133cf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7fd86278776b45e12f072d7f4652432e"></img>
    </div>
    <div class="tweet-content-container">
      <a href="" class="header-link">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.
        </p>
      </a>
    </div>
  </div>
</div>

<div class="tweet">
  <div class="tweet-author-container">
    <h4 class="tweet-author">Szabó Zsuzsa</h4>
    <span class="tweet-time right">3 perce</span>
  </div>
  <div class="tweet-inner">
    <div class="tweet-img-container">
      <img src="https://images.unsplash.com/photo-1428069940893-209d71f133cf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7fd86278776b45e12f072d7f4652432e"></img>
    </div>
    <div class="tweet-content-container">
      <img src="https://images.unsplash.com/photo-1455651512878-0ddbb4c4d0a5?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375"></img>
    </div>
  </div>
</div>



<div class="tweet">
  <div class="tweet-author-container">
    <h4 class="tweet-author">Szabó Zsuzsa</h4>
    <span class="tweet-time right">3 perce</span>
  </div>
  <div class="tweet-inner">
    <div class="tweet-img-container">
      <img src="https://images.unsplash.com/photo-1428069940893-209d71f133cf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7fd86278776b45e12f072d7f4652432e"></img>
    </div>
    <div class="tweet-content-container">
      <a href="" class="header-link">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat.
        </p>
      </a>
    </div>
  </div>
</div>