<section class="meta-container">
  <div class="sources">
    <span class="name-span">Sources</span>
    <a href="" class="tag-link">
      <span class="tag-element">Index</span>
    </a>
  </div>
  <div class="tags">
    <span class="name-span">Tags</span>
    <a href="" class="tag-link">
      <span class="tag-element">Oktatás</span>
    </a>
    <a href="" class="tag-link">
      <span class="tag-element">Pályázat</span>
    </a>
    <a href="" class="tag-link">
      <span class="tag-element">Ösztöndíj</span>
    </a>
    <a href="" class="tag-link">
      <span class="tag-element">Bursa</span>
    </a>
  </div>
</section>