<section class="categories">
  <div class="main-column left">
    <article class="with-img">
      <img src="https://images.unsplash.com/photo-1454678904372-2ca94103eca4?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925"></img>
      <div class="content-box">
        <h4 class="title">Salvia heirloom keytar, flexitarian vice poutine VHS.</h4>
        <p class="lead">
          Austin 3 wolf moon beard normcore retro franzen,
          kale chips leggings intelligentsia. Tousled meggings selfies listicle kogi vinyl,
          skateboard squid dreamcatcher letterpress cardigan put a bird on it. 
        </p>
      </div>
    </article>
    <article class="normal-post">
      <h5>
        Distillery bespoke roof party, truffaut semiotics
      </h5>
      <p class="lead">
        Green juice tofu vegan, mustache ramps cliche shabby chic selfies retro direct trade.
      </p>
    </article>
    <!--<article class="post-background">-->
    <!--  <h4 class="highlited">-->
    <!--    Distillery bespoke roof party, truffaut semiotics-->
    <!--  </h4>-->
    <!--</article>-->
  </div>
  
  <div class="secondary-column left">
    
    <article class="normal-post">
      <h6>
        Mixtape slow-carb food truck, art party fap synth stumptown wolf craft beer 
      </h6>
      <p class="lead">
        Mlkshk normcore whatever migas next.
      </p>
    </article>
    
    <article class="post-background">
      <h5 class="highlited">
        Master cleanse williamsburg VHS pug crucifix craft beer. 
      </h5>
    </article>
      
    <article class="normal-post">
      <h6>
        Distillery bespoke roof party, truffaut semiotics
      </h6>
      <p class="lead">
        Green juice tofu vegan, mustache ramps cliche shabby chic selfies retro direct trade.
      </p>
    </article>
    
    <article class="normal-post">
      <h6>
        Mixtape slow-carb food truck,
      </h6>
      <p class="lead">
        Neutra pop-up occupy photo booth tumblr food truck.
      </p>
    </article>
    
  </div> 
</section>
