<section class="recent-posts">
  <div class="recent-post-header">
    <h4>Friss hírek</h4>
  </div>
  <div class="recent-post-content">
    <ul>
      <li><a href="">Plaid banh mi waistcoat kinfolk tofu</a></li>
      <li><a href="">Gastropub seitan PBR&B</a></li>
      <li><a href="">Kogi literally chicharrones blue bottle.</a></li>
      <li><a href="">Shabby chic tumblr fanny pack vinyl microdosing,</a></li>
      <li><a href="">Ennui lumbersexual keffiyeh, vegan man braid fanny pack</a></li>
      <li><a href="">Whatever brunch sriracha bushwick plaid</a></li>
      <li><a href="">Paleo shabby chic pitchfork vice</a></li>
      <li><a href="">Direct trade hoodie beard narwhal </a></li>
      <li><a href="">Direct trade flannel before they sold out occupy twee</a></li>
      <li><a href="">Small batch drinking vinegar 3 wolf moon literally.</a></li>
    </ul>
  </div>
</section>