.featured-posts-slider
  +row
  text-align: center
  padding-top: 50px
  border-bottom: 1px solid $light-gray
  border-top: 1px solid $light-gray
  .column
    float: left
    
    h5
      margin-top: 15px
    
    p
      font-size: 0.875em
      
  
    +media($medium-screen)
      +grid-item-columns(3)
      padding: 0 15px