.post
  +row
  
  .post-content
    border-right: 1px solid $light-gray
    float: left
    
    h1,
    h4,
    p
      padding: 5px 30px
      
    p
      font-size: 0.875em
      

  
    +media($medium-screen)
      +grid-item-columns(8)
  
  .post-aside
    float: left
    background-color: $light-gray
  
  
    +media($medium-screen)
      +grid-item-columns(4)