.categories-container
  +row
  width: 100%
  box-shadow: -10px 0px 0px 0px $blue
  
  .column
    float: left
    border-bottom: $base-border
    
    +media($medium-screen)
      +grid-item-columns(6)
      
    &:first-child
      border-right: $base-border
      
  &:last-child
    box-shadow: -10px 0px 0px 0px green