.main-column
  background-color: white
  // border-bottom: 1px solid $light-gray
  
  +media($large-screen)
    +grid-item-columns(8)
    
  +media(max-width $medium-screen)
    +grid-item-columns(12)
    
  .normal-post
    padding: em(20px) 1.125em
    
  .highlited
    background-color: white
    padding: 1.125em 1.125em 1.125em 0.5625em
    margin-left: 0.5625em
    margin-bottom: 0
    border-bottom: $base-border
    border-left: $base-border
    
.with-img
    
  .content-box
    border-bottom: $base-border

    .title
      position: relative
      top: -41px
      margin-bottom: -31px
      +grid-item-columns(9)
      background-color: white
      padding: 0.6em 0.75em 0 0.75em 
      
    .lead
      padding: 0 1.25em 1.25em 1.25em
      
.normal-post
  padding: em(20px) 1.125em
    
.secondary-column
  
  +media($large-screen)
    +grid-item-columns(4)
    
  +media(max-width $medium-screen)
    +grid-item-columns(12)
    
  .normal-post
    padding: 0.625em 1.25em
    border-bottom: $base-border
    border-left: $base-border
    
    &:first-child
      padding-top: 1.25em
      
    &:last-child
      padding-top: 1.25em
    
    
  .highlited
    background-color: white
    padding: 0.625em 1.25em 0.625em 1.25em
    margin-left: 0.625em
    margin-bottom: 0
    border-bottom: $base-border
    border-left: $base-border

    