$font-awesome-social-size: 30px
$post-padding: 0 15px

.post
  +row
  float: left
  background-color: #fff
  border-right: $base-border
  
  .post-header
    .post-header-title
      padding: 15px 15px
      margin: 0
      
      
    .meta-container
      +clearfix
      
    .legend-container
      padding: $post-padding
      padding-bottom: 15px
      
      .post-tag-link
        
        .post-tag
          font-size: 0.65em
          background-color: $blue
          +pad(0.8em)
          color: white
          +transition(all 0.3s ease-in-out)
          
        &:hover .post-tag
          background-color: darken($blue, 10)
        
      .post-date
        font:
          size: 0.7em
          weight: 300
        color: rgba(0, 0, 0, 0.27)
        
    img
      padding: $post-padding
        
    .social-container
      padding: $post-padding
      padding-bottom: 15px
      
      .fa-stack
        font-size: $font-awesome-social-size
        +size($font-awesome-social-size $font-awesome-social-size)
      
      .fa-stack-1x
        color: white
        font-size: $font-awesome-social-size / 2
        line-height: $font-awesome-social-size
        
      .fa-stack-2x
        font-size: $font-awesome-social-size
        
      +media(max-width $small-screen)
        float: none
        
  .post-content
    
    h1,
    h4,
    p,
      padding: 5px 15px
      
    p
      font-size: 0.875em
      

  
  +media($medium-screen)
    +grid-item-columns(8)
  
.post-aside
  float: left
  background-color: $light-gray


  +media($medium-screen)
    +grid-item-columns(4)
    
.post-outer
  border-bottom: $base-border
  +clearfix