.profil
  float: left
  border-right: $base-border 
      
  +media($medium-screen)
    +grid-item-columns(8)
    
  .introduction
    +row
    border-bottom: $base-border
    
    .img-container
      float: left
      
      img
        height: 330px
  
      
      +media($medium-screen)
        +grid-item-columns(4)
        
    .content-container
      float: left
      padding: 30px
      font-size: 0.875em
      
      +media($medium-screen)
        +grid-item-columns(8)
        
  .contact
    +row
    .contact-list,
    .interesting
      float: left
      
      +media($medium-screen)
        +grid-item-columns(6)
        
        
  .left-img-column
    .post
      border-top: $base-border
      
      header
        float: left
        +media($medium-screen)
          +grid-item-columns(6)
      .content
        float: left
        padding: 20px
        +media($medium-screen)
          +grid-item-columns(6)
        
        p
          font-size: 0.875em
        .fa
          padding-right: 5px
          
  .right-img-column
    @extend .left-img-column
    .post
      header
        float: right
        
      .content
        float: right
        
    &:last-child
      border-bottom: $base-border
      