---
layout: default
---
<section class="post-outer">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-header-title">Biodiesel swag master cleanse, flexitarian tilde bushwick tacos chillwave.</h1>
      <img src="https://images.unsplash.com/photo-1447078806655-40579c2520d6?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925"></img>
    </header>
  
    <div class="post-content" itemprop="articleBody">
      {{ content }}
      
      {% include writer-profil.html %}
    </div>
  
  </article>
  
  <aside class="post-aside">
    {% include tweet.html %}
  </aside>
</section>

{% include featured-posts-slider.html %}
