---
layout: default
---

<section class="profil">
  <div class="introduction">
    <div class="img-container">
      <img src="https://images.unsplash.com/photo-1445295029071-5151176738d0?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925"></img>
    </div>
    <div class="content-container">
      <h3>Szabó Zsuzsa</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
        ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
        dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum.
      </p>
    </div>
  </div>
  <div class="contact">
    <div class="contact-list">
      <ul>
        <li>
          <a class="facebook share" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>  
            <span class="link-content">
              Szabó Zsuzsa
            </span>          
          </a>
        </li>
        <li>
          <a class="twitter share" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>  
            <span class="link-content">
              @aztazsuzsa
            </span>          
          </a>
        </li>
        <li>
          <a class="phone share" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-phone fa-stack-1x"></i>
            </span>  
            <span class="link-content">
              06-30-540-7869
            </span>          
          </a>
        </li>
        <li>
          <a class="email share" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope-o fa-stack-1x"></i>
            </span>  
            <span class="link-content">
              zsuzsi.szabo@dailyszeged.hu
            </span>          
          </a>
        </li>
      </ul>
    </div>
    <div class="interesting">
      <blockquote>
        For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
      </blockquote>

    </div>
  </div>
  <h4 class="featured-title"><span>Legfrissebb írásaim:</span></h4>
  <div class="left-img-column">
    <article class="post">
      <header>
        <img src="https://images.unsplash.com/photo-1442589031151-61d5645469d7?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925" alt="">
      </header>
      <div class="content">
        <h3>
          <a href="" class="header-link">Lorem ipsum dolor sit amet, consectetuer adipiscing elit!</a>
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
          quis nostrud exerci tation ullamcorper suscipit lobortis nisl
          ut aliquip ex ea commodo.
        </p>
        <div class="footer">
          <a class="facebook share small" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>  
          </a>
          <a class="twitter share small" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>  
          </a>
          <a class="pinterest share small" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-pinterest fa-stack-1x"></i>
            </span>  
          </a>
          <a class="rss share small" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rss fa-stack-1x"></i>
            </span>  
          </a>
        </div>
      </div>
    </article>
  </div>
  <div class="right-img-column">
    <article class="post">
      <header>
        <img src="https://images.unsplash.com/photo-1442589031151-61d5645469d7?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925" alt="">
      </header>
      <div class="content">
        <h3>
          <a href="" class="header-link">Lorem ipsum dolor sit amet, consectetuer adipiscing elit!</a>
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
          quis nostrud exerci tation ullamcorper suscipit lobortis nisl
          ut aliquip ex ea commodo.
        </p>
        <div class="footer">
          <a class="facebook share small" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>  
          </a>
          <a class="twitter share small" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>  
          </a>
          <a class="pinterest share small" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-pinterest fa-stack-1x"></i>
            </span>  
          </a>
          <a class="rss share small" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-rss fa-stack-1x"></i>
            </span>  
          </a>
        </div>
      </div>
    </article>
  </div>
  
</section>
<aside class="profil-aside">
  
</aside>